Chronicle-Queue.iml
# Package Files #
*.jar
*.war
*.ear

# IntelliJ
*.iml
*.ipr
*.iws
*.cq4t
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# maven
target
queue-dir

*.cq4
src/test/resources/tr2/directory-listing.cq4t
