*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# maven
target
